.word-translate_button {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  /* background-color: #bbbbbb; */
  color: #000000;
  border: 1px solid #bbbbbb;
}

.word-translate_button:hover {
  background-color: #7c7c7c;
  color: #ffffff;
}

.word-translate_button.right {
    background-color: green;
    color: #ffffff;
}

.word-translate_button.wrong {
  background-color: rgb(169, 5, 5);
  color: #ffffff;
}