.list {
  width: 80%;
  height: 70vh;
  overflow-y: auto;
  margin: 0 auto;
}

.list-header-no-words {
  text-align: center;
  padding: 0 100px;
  line-height: 2;
}

.list-header {
  text-align: center;
}