.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.nav a {
  display: block;
  margin: 0 40px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
}

.nav a:hover {
  background-color: rgba(168, 168, 168, 0.502);
}